[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	email = stponomarevw@gmail.com
	name = Stepan Ponomarev
[core]
	excludesFile = ~/.gitignore_global
	autocrlf = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[alias]
	st = status
	ci = commit -v
	co = checkout
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
[diff]
	tool = nvimdiff
